h1{
   display: flex;
   justify-content: center;
   align-items: center;
}

table{
   display: flex;
   justify-content: center;
   align-items: center;
}

.heading1{
   margin-top: 2%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 300%;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   line-height: 3vw;
   color: #FFFFFF;
}

.heading2{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 450%;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   line-height: 4.5vw;
   color: #FFFFFF;
}

.headingsub{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 100%;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   line-height: 1.5vw;
   text-align: center;
   color: #FFFFFF;
}

.responsiveimage {
   height: 8%;
   width: 8%;
   margin-left: 5%;
   margin-right: 5%;
 }
 
 .backgroundcolor{

   background: #11041D;

 }

 /* Ellipse 1 */
.ellipse1{
position: absolute;
width: 8vw;
height: 8vw;
left: 85vw;
top: 8vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);

}

.ellipse2{
   /* Ellipse 2 */

position: absolute;
width: 8vw;
height: 8vw;
left: 12vw;
top: 20vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);
}

.ellipse3{
   position: absolute;
   width: 8vw;
   height: 8vw;
   left:70vw;
   top: 100vw;
   border-radius: 50%;
   background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
   mix-blend-mode: lighten;
   box-shadow: 0px 4px 3px #000000;
   transform: rotate(-180deg);

}

.ellipse4{
   position: absolute;
width: 8vw;
height: 8vw;
left: 50vw;
top: 180vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);



}

.ellipse5{
   position: absolute;
width: 8vw;
height: 8vw;
left: 30vw;
top: 260vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);



}

.ellipse6{
   position: absolute;
width: 8vw;
height:8vw;
left: 90vw;
top: 200vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);


}

.ellipse7{
   position: absolute;
width: 8vw;
height: 8vw;
left: 36vw;
top: 126vw;
border-radius: 50%;
background: linear-gradient(324.49deg, #22162D 15.27%, #11041D 84.05%);
mix-blend-mode: lighten;
box-shadow: 0px 4px 3px #000000;
transform: rotate(-180deg);


}




.loading {
   width: 2rem;
   height: 2rem;
   border: 5px solid #f3f3f3;
   border-top: 6px solid #9c41f2;
   border-radius: 100%;
   margin: auto;
   visibility: visible;
   animation: spin 1s infinite linear;
}
@keyframes spin {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   }
}
